Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans- While creating any appliaction, we have to store the data in databse. Database is an organized collection of data stord in structred way in the form of tables. As on storing data in variables, we can accces them in the run-time only.

SQL DATABASES- SQL stands for structured Querey langyage which stores data only in structured way.
-Data is stored in the form of tables
EX- MySQL, MsSQL, BD2, oracle,etc.

NoSQL DATABSES- NoSQL satnd for not only SQl i.e data can stored in structured way as well as in non-structued way.
-Unstructed files such as text files, audio and vedio files can be stored
EX- MongoDB, Neo4j, hbase,etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans- DDL stands for Data Defintion langauge. It is a subset of SQL (Structured Query Language) used in database management systems to define and manage the structure of database objects such as tables, indexes, views, and schemas. 

CREATE- This statement is used to create new databse objects.
Ex- CREATE DATABASE student_info;

DROP- This satement is used to delete the existing databse objects.
Ex- DROP TABLE index;

ALTER- This satement is used to modify the existing databse objects.
EX- ALTER TABLE employee ADD salary package;
      
TRUNCATE- This satement is used to to delete all the rows wihtout disturbing the strcuture of the table.
EX- TRUNCATE TABLE employee;
    SELECT employee_no FROM employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans- DML satnds for data defintion lanaguge. Commands of DML are used to manupulate/retrive tuples.

INSERT- This command is used to insert the values of the tables.
Ex- INSERT INTO books
    VALUES("python","Sumita Arora","Let us C");


UPDATE- This command is used to update the existing value of the table with a new value.
Ex- UPDATE  Cd
    SET singer="KK"
    Where singer="hari"

DELETE- This command is used to delete data from the table
Ex- DELETE FROM emp;
    WHERE salary<10000;

Q4. What is DQL? Explain SELECT with an example.
Ans- DQL is a portion of a SQL statement that allows you to get and organise data from a database.

SELECT- The puropose of select command is to retrieve data from the database table.
Ex- SELECT name FROM employee_name;

Q5. Explain Primary Key and Foreign Key.
Ans- Primary key- A primary key is a set of one or more fields which uniquely identify a tuple/row/ record in a table.
     Foreign Key- A foreign key is an non-key attribute whose value is derived from the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="local host"
    user="abc"
    password="password")

print(mydb)
mycursor=mydb.cusror()
cursor=mycursor.excecute("SHOW DATABSES")
myd.close()

cursor()- cursor is a database object that is used to interact with the database. It fetches the data from the databse that is to be executed.
execute()- excecute is an object of cursor that excutes the cursor()i.e excecutes that query by excecuting the cursor which fetches the data.

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans- Getting Data (FROM/JOIN)     
Row Filter (WHERE)     
Grouping (GROUP BY     )
Group Filter (HAVIN     G)
Return Expression (SELE     CT)
Order & Paging (ORDER BY & LIMIT/OFause